<%- include('partials/header'); -%>

<section class="fail">
    <h1>Oops!!!</h1>
    <p>Country not found or doesn't have any cases.</p>
    <h2>Try again</h2>
    <a class="btn btn-outline-primary my-3" href="/statistics">Go Back</a>
</section>

<%- include('partials/footer'); -%>