<%- include('partials/header'); -%> 

<main class="main">    
    <header class="container home-page-header">
        <div class="top-content" id="home">
            <h1>Covid-19</h1>
            <p>COVID-19 is the disease caused by the new coronavirus that emerged in China in December 2019. The new coronavirus can be spread from person to person. It is diagnosed with a laboratory test. There is no coronavirus vaccine yet.</p>
            <a class="btn btn-outline-primary" href="/about">Learn more</a>
            <a class="btn btn-outline-primary" href="/statistics">Latest Statistics</a>
        </div>
    </header>
</main>
</div>    



<%- include('partials/footer'); -%>


